1.Сортировка в обратном порядке

In [37]:
lst = int(input())
list = []
for i in range(lst):
    line = (int(input()))
    list.append(line)
print(list)
list.sort()
print (list)
list.reverse()
print (list)

3
15
78
6
[15, 78, 6]
[6, 15, 78]
[78, 15, 6]

2.Фильтр
(не получается с ###&%^^^^)

In [19]:
a = int(input())
for i in range(a):
    line = input()
    if "%" in line:
        print(line.replace('%',''))
    elif not line.startswith('###'):
        print (line)

3
SVO TRS 29481292
SVO TRS 29481292
%%LJPZ DME 11113283675
LJPZ DME 11113283675
###&%^^^^
###&^^^^

3.От и до

In [28]:
N = int(input( "Количество чисел: " ))
s = [int(input()) for i in range(N)]
p = int(input(( "p: " )))
q = int(input(( "q: " )))
print( "Cумма: ", (sum(s[p - 1:q])))

Количество чисел: 5
100
222
300
444
500
p: 2
q: 4
Cумма:  966

4 Список отличников. (Ну не получается никак вывести просто фамилии....)

In [78]:
def Artek():
    r = input('Ученики:')
    n=int(input('Количество мест:'))
    r_dict = dict((a.strip(), int(b.strip()))
                for a, b in (element.split(' ')
                             for element in r.split(', ')))

    sorted_r = sorted(r_dict.items(), key=lambda item: (-item[1], item[0]))
    print('Едут:',sorted_r[0:n])

Artek ()

Ученики:Сидоров 3, Смирнова 5, Самойкин 4, Емельянов 2, Кац 5, Вдовиченко 5, Северин 4, Субботкин 5
Количество мест:3
Едут: [('Вдовиченко', 5), ('Кац', 5), ('Смирнова', 5)]